Django==4.2.16
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.4.0
celery==5.4.0
redis==5.0.8
psycopg[binary]==3.2.3
python-decouple==3.8
Pillow==10.4.0
django-filter==24.3
drf-spectacular==0.27.2
kombu==5.3.4
gunicorn==22.0.0
whitenoise==6.7.0
python-jose==3.3.0
cryptography==43.0.1
